{% extends "base.html" %}

{% block content %}

    <div style="padding:30px;">
        <h2>Register</h2>
        <br>

    {% if msg %}
        {{msg}}
    {% endif %}
    
        <form method="post"> <!-- ou POST. Em HTML é indeferente! -->
            {% csrf_token %} <!-- Token para segurança que garante que os dados vêm dele mesmo -->
            <table>   
                {{form.as_table}} <!-- formata o 'form' como table. Reparar que 'form' é a chave do dicionário na view ! -->
                <tr><td></td><td>
                    <input type="submit" class="btn btn-primary" value="Register" />
                </td></tr>
            </table>
        </form>
    </div>

{% endblock %}