{% extends 'base.html' %}

{% block content %}
    {% if ctg.author == user %}
        <table width="100%" border = 0>
        <tr><td style="width:25%; text-align:center">
    
            <form action="">
                <br><b>List by Status:</b></br></br> 
                {% for key,value in status.items %}
                 | <input type="radio" id="{{value}}" name="list_status" value="{{key}}">
                  <label for="{{value}}">{{value}}</label>
                {% endfor %}
                | </br></br><input type="submit" class="btn btn-secondary" value="Filter by Status">
             </form>
        </td>
            <td align="center"><p></p><h1 style="color: darkblue">Tasks from:</h1> <br><h3>{{ctg.name}} | {{proj.name}}</h3></td>
            <td><p></p><a href="new/{{proj.id}}" class="btn btn-primary">New Task</a></td>
        </tr>
        </table>
        <hr>

        <div class="container">
            <table width="100%" border = 0>
            {% for task in task_list %}
            <tr>
                <td>
                <div class="card m-3" style="width: 33rem";>
                    <div class="card-body">
                        <h2 class="card-title">
                            {{task.name}}
                        </h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i>Priority : </i>{{task.priority | classify}}</li>
                        <li class="list-group-item"><i>Cost : </i>{{task.cost}}</li>
                        <li class="list-group-item"><i>Progress : </i>
                            <div class="progress" role="progressbar" aria-valuenow="{{task.progress}}" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: {{task.progress}}%">{{task.progress}}%</div>
                            </div>
                        </li>
                        <li class="list-group-item"><i>Start date : </i>{{task.start_date|date_only}}</li>
                        <li class="list-group-item"><i>End date : </i>{{task.end_date|date_only}}</li>
                        <li class="list-group-item"><b>Status : </b>{{status|dict_value:task.status}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="/task/edit/{{task.id}}" class="btn btn-primary">Edit Task</a>
                        <a href="/task/{{task.id}}" class="btn btn-primary">Details</a>
                    </div>
                </div>
                </td>
                <td style="vertical-align:top;text-align:left;padding-top: 10px">
                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg> Notes
                    </h4>
                    <ul>
                    {% for note in notes %}
                        {% if note.task == task %}
                            <li>{{note.title}}</li>
                            <div style="height: 3px;"></div>
                            <i><small>{{note.revision_date}} by {{note.author}}</small></i>
                            <div style="height: 10px;"></div>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg> Contributors
                    </h4>
                    <ul>
                        <li>{{ctg.author}}</li>
                        {% for author in authors %}
                            {% if author.task == task %}
                                <li>{{author.user_authorized}}</li>
                                <div style="height: 10px;"></div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </table>
        </div>
    {% else %}
        <p></p>
        <center><h2>Access not authorized !</h2></center>
    {% endif %}
{% endblock content %}